.video-container {
  display: flex;

  background-color: black;
}

video {
  position: fixed;
  top: 0;
  left: -22px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
  opacity: 0.75;

  &.light {
    filter: invert(1);
    opacity: 0.85;
  }
}
